footer {
    color: black;
    background-color: #f9f9f9;
    padding: 1rem 0 0 2rem;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
  }

  footer h1{
    font-size: 2.6rem;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
  }
  
  footer p {
    margin: 0 0 0.5rem 0;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .location{
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    background-color: #2a6cb2 !important;
    border-radius: 1px solid #2a6cb2;
    text-decoration: none;
    outline: none;
    margin-bottom: 2rem;
  }